<tr>
  <td><%= link_to "Books", books_path %></td>
  <td><%= link_to "Clients", clients_path %></td>
  <td><%= link_to "Librarians", librarians_path %></td>
  <td><%= link_to "Authors", authors_path %></td>
  <td><%= link_to "Reservations", reservations_path %></td>
</tr>