<h1>Alexandria Library</h1>
<ul>
	<li><%= link_to "Books", books_path %></li>
	<li><%= link_to "Clients", clients_path %></li>
	<li><%= link_to "Librarians", librarians_path %></li>
	<li><%= link_to "Authors", authors_path %></li>
	<li><%= link_to "Reservations", reservations_path %></li>
</ul>