<%=render partial: "partials/minha_partial"%>

<p id="notice"><%= notice %></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Genre</th>
      <th colspan="3"></th>
    </tr>
  </thead> 

  <tbody>
    <% @books.each do |book| %>
      <% @author = Author.find_by_id(book.author_id) %>
      <% @genre = Genre.find_by_id(book.genre_id) %>

      <tr>
        <td><%= book.title %></td>
        <td><%= @author.name %></td>
        <td><%= @genre.description %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
