<%=render partial: "partials/minha_partial"%>

<p id="notice"><%= notice %></p>

<h1>Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Active</th>
      <th>Librarian</th>
      <th>Client</th>
      <th>Book</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <% @librarian = Librarian.find_by_id(reservation.librarian_id) %>
      <% @client = Client.find_by_id(reservation.client_id) %>
      <% @book = Book.find_by_id(reservation.book_id) %>
      <tr>
        <td><%= reservation.active %></td>
        <td><%= @librarian.name %></td>
        <td><%= @client.name %></td>
        <td><%= @book.title %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
